@import "tailwindcss";
html,
body {
    overflow-x: hidden;
    background-color: black;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}